user_guide/
*.swo
*.swp
sparks
.project
.settings
tags
.tags
.tags_sorted_by_file
application/logs
application/cache
/application
.DS_Store
.idea
*~
launcher*
composer.lock
vendor/
application/static/uploads/
