@mixin responsive_pinet_statebar($args...) {
	.pinet-statebar {
		height: res(120px);
		margin-top: res(30px);
		> div {
			font-size: res(30px);
			color: #676d75;
		}
		.title {
			height: 100%;
			padding: 0;
			font-size: res(36px);
			color: #676e76;
			float: left;
		}
		.info {
			height: 100%;
			float: right;
			// margin-right: res(93px);
			font-size: res(36px);
			.logo {
				float: right;
				display: block;
				width: res(70px);
				height: res(70px);
				picture {
					display: inline-block;
					width: res(70px);
					height: res(70px);
				}
			}
			.tooltip {
				display: inline-block;
				line-height: res(42px);
				margin-left: res(48px);
			}
			.content {
				color: #2c3e50;
				display: block;
				height: res(70px);
				font-size: res(26px);
				line-height: res(70px);
				padding-right: res(48px);
				margin-bottom: 0;
				float: right;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}