@mixin responsive_pinet_alert($args...) {
	.pinet-alert-success {
		@include pinet-alert-variant($screen-width);
	 	@include pinet-alert-color($pinet-alert-success-bg, $pinet-alert-success-border,
	 		$pinet-alert-success-text, $pinet-alert-success-btn-bg, $pinet-alert-success-btn-bg-hover);
	}

	.pinet-alert-info {
		@include pinet-alert-variant($screen-width);
	 	@include pinet-alert-color($pinet-alert-info-bg, $pinet-alert-info-border, $pinet-alert-info-text,
	 		$pinet-alert-info-btn-bg, $pinet-alert-info-btn-bg-hover);
	}

	.pinet-alert-warn {
		@include pinet-alert-variant($screen-width);
	 	@include pinet-alert-color($pinet-alert-warn-bg, $pinet-alert-warn-border, $pinet-alert-warn-text,
	 		$pinet-alert-warn-btn-bg, $pinet-alert-warn-btn-bg-hover);
	}

	.pinet-alert-error {
		@include pinet-alert-variant($screen-width);
	 	@include pinet-alert-color($pinet-alert-error-bg, $pinet-alert-error-border, $pinet-alert-error-text,
	 		$pinet-alert-error-btn-bg, $pinet-alert-error-btn-bg-hover);
	}

	.pinet-alert-map {
		@include pinet-alert-variant($screen-width);
		&.pinet-hide {
			display: none;
		}
		display: table;
		.pinet-alert-map-inner {
			@include pinet-alert-variant($screen-width);
			position: relative;
		}
		.alert-map-item {
			display: none;
			margin: 0;
			position: absolute;
			left: 0;
			top: 0;
		}
		margin-bottom: res(15px, 7px);
		.indicator {
			width: 100%;
			bottom: 0;
			text-align: center;
			padding: 0;
			margin: 0;
			margin-top: res(15px,  7px);
			.indicator-item {
				display: inline-block;
				width: res(24px, 12px);
				height: res(24px, 12px);
				border-radius: 50%;
				background-color: #ddd;
				margin-left: res(10px , 5px);
				margin-right: res(10px, 5px);
			}
			.indicator-item.active {
				background-color: #000;
			}
		}
	}
}